@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is Duy's Benefits Cost and Employee tracker.  To get started, click on Employees to see the current list of Employees.</p>
</div>
